include ~blocks/input-price/mixin
include ~blocks/form-label/mixin
include ~blocks/slider-range/mixin

mixin form-range(data)
	- data = data || {};
	.form-range.js-form-range(
		class=data.class
		class=mods('form-range', data.mods)
	)&attributes(data.attributes)
		if (data.title)
			+form-label #{data.title}
		.form-range__inputs
			.form-range__from
				label.form-range__label(for=data.from.id) от
				- data.from.attributes['data-rel'] = 'form.range.from'
				- data.from.attributes.title = data.from.title || 'от'
				- data.from.attributes.id = data.from.id
				+input-price({
					value: data.from.value,
					attributes: data.from.attributes
				})
			.form-range__sep -
			.form-range__to
				label.form-range__label(for=data.to.id) до
				- data.to.attributes['data-rel'] = 'form.range.to'
				- data.to.attributes.title = data.to.title || 'до'
				- data.to.attributes.id = data.to.id
				+input-price({
					value: data.to.value,
					attributes: data.to.attributes
				})
		+slider-range({
			min: data.from.value,
			max: data.to.value,
			class: 'form-range__slider',
			attributes: {
				'data-rel': 'form.range.slider'
			}
		})
