include ~blocks/form-label/mixin
include ~blocks/slider-range/mixin

mixin form-range(data)
	- data = data || {};
	.form-range.js-form-range(
		class=data.class
		class=mods('form-range', data.mods)
	)&attributes(data.attributes)
		if (data.title)
			+form-label #{data.title}
		.form-range__inputs
			.form-range__from
				label.form-range__label(for=data.from.id) от
				input(
					id=data.from.id
					title= data.from.title || 'от'
					value=data.from.value
					data-rel="form.range.from"
					type="text"
					pattern="[0-9]*")&attributes(data.from.attributes)
			.form-range__sep -
			.form-range__to
				label.form-range__label(for=data.to.id) до
				input(
					id=data.to.id
					title= data.to.title || 'до'
					value=data.to.value
					data-rel="form.range.to"
					type="text"
					pattern="[0-9]*")&attributes(data.to.attributes)
		+slider-range({
			min: data.from.value,
			max: data.to.value,
			class: 'form-range__slider',
			attributes: {
				'data-rel': 'form.range.slider'
			}
		})
