include ~blocks/icon/mixin
include ~blocks/image/mixin

mixin select-color(data)
	- data = data || {};
	.select-color(
		class=data.class
		class=mods('select-color', data.mods)
	)&attributes(data.attributes)
		.select-color__head(data-click="select.color.toggle")
			.select-color__image
				+image({
					src: '/images/colors/color-1.png',
					alt: 'Шоколадный',
				})
			.select-color__title Шоколадный
			+icon({ name: 'down', class: 'select-color__icon' })
		.select-color__body
			ul
				li
					.select-color__option.is-active
						.select-color__image
							+image({src: '/images/colors/color-1.png', alt: 'Шоколадный' })
						.select-color__title Шоколадный
						+icon({ name: 'check', class: 'select-color__checkbox' })
				each color, index in [2,3,4,5,6,7,8,9,10,11,12,13]
					li
						- title = `Название цвета - ${color}`
						- image = `/images/colors/color-${color}.png`
						a.select-color__option(href="/m.mebdv/product")
							.select-color__image
								+image({ src: image, alt: title })
							.select-color__title #{title}
