include ~blocks/lazy-image/mixin
include ~blocks/icon/mixin

mixin slider-main(data)
	- data = data || {};
	.slider-main(
		class='js-slider-main'
		class=data.class
		class=mods('slider-main', data.mods)
	)&attributes(data.attributes)
		.slider-main__nav
			.slider-main__prev(data-click="slider.main.prev")
				.slider-main__button
					+icon({
						name: 'left',
						mods: 'center'
					})
			.slider-main__next(data-click="slider.main.next")
				.slider-main__button
					+icon({
						name: 'right',
						mods: 'center'
					})
		.slider-main__body(data-rel="slider.main.carousel")
			each slide in [1,2,3]
				a.slider-main__item(href="#")
					+lazy-image({
						src: `/images/slider/slide-${slide}.png`,
						srcset: {
							'2x': `/images/slider/slide-${slide}@2x.png`,
						}
					})

